<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="com.kaizengineering.Library" version="1.0.5611.22252" targetFramework="net451" />
  <package id="JWT" version="1.3.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="RestSharp" version="105.1.0" targetFramework="net451" />
</packages>
