<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="com.kaizengineering.Library" version="1.0.5611.22252" targetFramework="net451" />
  <package id="DotNetZip" version="1.9.2" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="JWT" version="1.3.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="RestSharp" version="105.1.0" targetFramework="net451" />
  <package id="Twilio" version="3.6.10" targetFramework="net451" />
</packages>